<div class="container mt-5">
    <div class="row">
      <div class="col-lg-12">
        <form action="">
          <div class="row">
            <div class="col">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" required>
                <label for="floatingInput">First Name</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingPassword" placeholder="Password" required>
                <label for="floatingPassword">Last Name</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
                <label for="floatingInput">Email</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingPassword" placeholder="Password" required>
                <label for="floatingPassword">Address</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingPassword" placeholder="Address" required>
                <label for="floatingPassword">Address 2</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingPassword" placeholder="City" required>
                <label for="floatingPassword">City</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3">
                <select id="inputState" class="form-control" required>
                  <option selected>Choose...</option>
                  <option>Pakistan</option>
                  <option>Afghanistan</option>
                  <option>Dubai</option>
                  <option>Iran</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="float-right mb-4">
                <h5 class="mb-3" style="color: white;">The total amount</h5>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">The total amount</h5>
                    <p class="card-text">Total Items : <span class="total-item"></span></p>
                    <p class="card-text">Total Price : $<span class="total-cart"></span>.00 </p>
                    <p class="card-text"></p>
                    <input type="submit" class="add-to-cart btn button" value="Check-out">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  