
<app-slider></app-slider>
<div class="container-fluid mt-5">
    <div class="row pt-5 p-2">
        <div class="col-lg-4 col-md-5 col-sm-12 mt-3">
            <div class="col1 rounded">
                <div class="row p-5">
                    <div class="col-8">
                        <img src="../../../assets/img/pistachio.png" class="img-fluid" width="90%" alt="">
                    </div>
                    <div class="col-4">
                        <h5>Pistachio 1kg</h5>
                        <p>Discount 20%</p>
                        <a href="" data-name="Pistachio_Discount_20%" data-price="8.00"
                            class="btn  btn-sm btn-dark ">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-7 col-sm-12 mt-3">
            <div class="col2 rounded">
                <div class="row p-5">
                    <div class="col-7">
                        <img src="../../../assets/img/walnut.png" class="img-fluid pt-2 mx-2"
                            style="width: 50%; height: auto;" alt="">
                    </div>
                    <div class="col-5">
                        <h5>Walnuts 1kg</h5>
                        <p>Discount 10%</p>
                        <a href="" data-name="Walnuts_Discount_10%" data-price="9.00"
                            class="btn  btn-sm btn-dark ">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-1 p-2">
        <div class="col-lg-8 col-md-7 col-sm-12 mt-3">
            <div class="col3 rounded">
                <div class="row p-5">
                    <div class="col-7">
                        <img src="../../../assets/img/cashew.png" class="img-fluid pt-2 mx-2"
                            style="width: 60%; height: auto;" alt="">
                    </div>
                    <div class="col-5">
                        <h5>Cashew 1kg</h5>
                        <p>Discount 15%</p>
                        <a href="" data-name="Cashew_Discount_15%" data-price="10.00"
                            class="btn  btn-sm btn-dark ">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-12 mt-3 ">
            <div class="col4 rounded">
                <div class="row p-5">
                    <div class="col-8">
                        <img src="../../../assets/img/saffron.png" class="img-fluid" width="90%" alt="">
                    </div>
                    <div class="col-4">
                        <h5>Saffron 1kg</h5>
                        <p>Discount 6%</p>
                        <a href="" data-name="Saffron_Discount_6%" data-price="9.00"
                            class="btn  btn-sm btn-dark ">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid cont-img mt-5 p-5">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 ps-1 mt-1">
            <div class="bg-light rounded p-3">
                <div class="text-center">
                    <i class="rounded-circle pt-5 mt-4 border fas fa-seedling"></i>
                </div>
                <h6 class="mt-5 fw-bold text-center">Choose Fruits</h6>
                <p class="text-center">Veniam fugit optio quisquam quasi illum.</p>
                <p class="text-center">Veniam fugit optio quisquam quasi illum.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 ps-1 mt-1">
            <div class="bg-light rounded p-3">
                <div class="text-center">
                    <i class="rounded-circle pt-5 mt-4 border fas fa-home"></i>
                </div>
                <h6 class="mt-5 fw-bold text-center">Place Your Address</h6>
                <p class="text-center">Veniam fugit optio quisquam quasi illum.</p>
                <p class="text-center">Veniam fugit optio quisquam quasi illum.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 ps-1 mt-1">
            <div class="bg-light rounded p-3">
                <div class="text-center">
                    <i class="rounded-circle pt-5 mt-4 border fas fa-biking"></i>
                </div>
                <h6 class="mt-5 fw-bold text-center">Payment & Delivery</h6>
                <p class="text-center">Veniam fugit optio quisquam quasi illum.</p>
                <p class="text-center">Veniam fugit optio quisquam quasi illum.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-5 mb-5">
    <div class="row mt-5">
        <div class="col-lg-4">
            <img class="rounded border zoom-img" src="../../../assets/img/pexels-anthony-shkraba-4753649.jpg" width="100%"
                alt="">
            <p class="text-center fw-light pt-3">by goal themes / jan 19,2021</p>
            <h5 class="text-center">5 Reasion you Must Eat Almond</h5>
        </div>
        <div class="col-lg-4">
            <img class="rounded border zoom-img" src="../../../assets/img/pexels-marta-branco-1295572.jpg" width="100%"
                alt="">
            <p class="text-center fw-light pt-3">by goal themes / jan 19,2021</p>
            <h5 class="text-center">Dry Fruits Is Culture, Habit, Craving And Identity </h5>
        </div>
        <div class="col-lg-4">
            <img class="rounded border zoom-img" src="../../../assets/img/pexels-marta-dzedyshko-2067420.jpg" width="100%"
                alt="">
            <p class="text-center fw-light pt-3">by goal themes / jan 19,2021</p>
            <h5 class="text-center">Let Dry Fruits Be They Medicin Be They Fruits </h5>
        </div>
    </div>
</div>