<div class="container">
    <div class="row">
        <div class="col-lg-12 pt-5">
            <h1 class=" text-center text-dark pt-3 mb-3 fw-bold">We'd love to hear from you.</h1>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3448.369348995717!2d67.0125393!3d30.1980041!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ed2de30738ba817%3A0x3248a999439b68d0!2sChaman%20Dry%20Fruits!5e0!3m2!1sen!2s!4v1620062067304!5m2!1sen!2s"
                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-4">
            <div class="text-center">
                <i class="mb-5 fas fa-mobile-alt display-4"></i>
            </div>
            <h4 class="text-center mt-2">Entrer en contact</h4>
            <p class="text-center text-dark fw-light">Téléphone: 703.172.3412</p>
            <p class="text-center text-dark fw-light">Télécopieur: 703.172.2341</p>
        </div>
        <div class="col-lg-4">
            <div class="text-center">
                <i class="mb-5 fas fa-map-marker-alt display-4"></i>
            </div>
            <h4 class="text-center mt-2">Visitez notre site</h4>
            <p class="text-center text-dark fw-light">480 King Street - Qwetta N15AA</p>
            <p class="text-center text-dark fw-light">Monday to Friday: 10 a.m. to 7 p.m.</p>
        </div>
        <div class="col-lg-4">
            <div class="text-center pt-4" style="height: 197px;">
                <i class="mb-5 far fa-clock display-4" style="color: rgba(240, 151, 35, 0.897);"></i>
            </div>
            <h4 class="text-center mt-2">Travailler avec nous?</h4>
            <p class="text-center text-dark fw-light">Etsy moustache seifies Brooklyn</p>
            <p class="text-center text-dark fw-light">SWAG artisan typographie.</p>
        </div>
    </div>
</div>
<div class="container pt-5">
    <h2 class="fw-bold text-center">Get In Touch</h2>
    <form action="">
        <div class="row">
            <div class="col-lg-6 pt-5">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" required>
                    <label for="floatingInput">Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingPassword" placeholder="Email" required>
                    <label for="floatingPassword">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingPassword" placeholder="Your Phone" required>
                    <label for="floatingPassword">Your Phone</label>
                </div>
            </div>
            <div class="col-lg-6 pt-5">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                        style="height: 207px" required></textarea>
                    <label for="floatingTextarea">Your Comments</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mt-5 mb-5">
                    <input type="submit" class="add-to-cart btn btn-lg button" value="Send Message">
                </div>
            </div>
        </div>
    </form>
</div>