<div class="container">
    <div class="row">
        <div class="col-lg-6 pt-5 mt-3 mb-5 pb-3">
            <h3 class="mb-5">Our story so far.</h3>
            <img class="rounded" src="../../../assets/img/pexels-polina-tankilevitch-3872425.jpg" alt="" height="550px"
                width="100%">
        </div>
        <div class="col-lg-6 pt-5 mt-5 mb-5 pb-3">
            <h3 class="fw-bold mt-5">Who we are ?</h3>
            <p class="fw-light">From the parks of Toronto to the Tuileries in Paris, we’ve got a penchant for capturing
                the
                best street style across the globe year-round. If you’ve got a thing for shimmering layers, Susie Bubble
                and
                spotting editrixes in their natural
                habitat, look no further than this.
            </p>
            <h3 class="fw-bold">What we do ?</h3>
            <p class="fw-light">You’ve got a thing for shimmering layers, Susie Bubble and spotting editrixes in their
                natural
                habitat, look no further than this, our constantly updated street style page! </p>
            <ul class="ul-list">
                <li class="li-list fw-light">Ornare arcu lacus, quis aliquet odio bibendum non.</li>
                <li class="li-list fw-light">Nulla sagittis efficitur ex</li>
                <li class="li-list fw-light">Fusce ac ipsum gravida, tristique sed felis augue</li>
                <li class="li-list fw-light">Aarcu lacus, quis aliquet odio bibendum non.</li>
            </ul>
            <h3 class="pt-3 fw-bold">Contact Us</h3>
            <p class="fw-light">12 Fake Street,Qwetta</p>
            <p class="fw-light pt-2">(08) 8827 633354</p>
            <p class="fw-light">08) 08 4752 1499</p>
            <p class="fw-light pt-2">Baloch@company.com</p>
        </div>

    </div>
</div>