<footer>
    <div class="container d-none d-md-block">
        <div class="row pt-5">
            <!-- Footer About Us -->
            <div class="col-lg-3 col-md-3 col-sm-3 pt-3">
                <h5 class="text-light fw-bold pb-3">About Us</h5>
                <p class="text-light fw-light">Do you have a question about your order status or purchase you are considering?
                </p>
                <ul class="nav">
                    <li class="nav-item p-2 m-1 border rounded bg-light">
                        <a><i class="text-dark fab fa-facebook-f"></i></a>
                    </li>
                    <li class="nav-item p-2 m-1 border rounded bg-light">
                        <a><i class="text-dark fab fa-twitter"></i></a>
                    </li>
                    <li class="nav-item p-2 m-1 border rounded bg-light">
                        <a><i class="text-dark fab fa-instagram"></i></a>
                    </li>
                    <li class="nav-item p-2 m-1 border rounded bg-light">
                        <a><i class="text-dark fab fa-pinterest-p"></i></a>
                    </li>
                    <li class="nav-item p-2 m-1 border rounded bg-light">
                        <a><i class="text-dark fab fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
            <!-- Footer Information Links -->
            <div class="col-lg-3 col-md-3 col-sm-3 pt-3 ml-2">
                <h5 class="text-light fw-bold pb-3 ms-1">Information</h5>
                <ul class="list-group" style="list-style-type: none;">
                    <li class="list-item p-1"><a style="text-decoration: none;" class="text-light fw-light">Shipping</a></li>
                    <li class="list-item p-1"><a style="text-decoration: none;" class="text-light fw-light">Returns</a></li>
                    <li class="list-item p-1"><a style="text-decoration: none;" class="text-light fw-light">Internationl</a></li>
                    <li class="list-item p-1"><a style="text-decoration: none;" class="text-light fw-light">Privacy Policy</a></li>
                </ul>
            </div>
            <!-- Footer Useful Links -->
            <div class="col-lg-3 col-md-3 col-sm-3 p-3 ml-2">
                <h5 class="text-light fw-bold pb-3 ms-1">Useful Links</h5>
                <ul class="list-group" style="list-style-type: none;">
                    <li class="list-item p-1"><a style="text-decoration: none;" class="text-light fw-light">Delivery Info</a></li>
                    <li class="list-item p-1"><a style="text-decoration: none;" class="text-light fw-light">Credit Card</a></li>
                    <li class="list-item p-1"><a style="text-decoration: none;" class="text-light fw-light">Careers</a></li>
                    <li class="list-item p-1"><a style="text-decoration: none;" class="text-light fw-light" [routerLink]="'/contact-us'">Contact US</a></li>
                </ul>
            </div>
            <!-- Footer Contact Links -->
            <div class="col-lg-3 col-md-3 col-sm-3 pt-3 ml-2">
                <h5 class="text-light fw-bold pb-3">Contact</h5>
                <p class="text-light fw-light">Office: 12 Fake Street,New York</p>
                <p class="text-light fw-light">Phone: (08) 8827 633354</p>
                <p class="text-light fw-light">Fax: 08) 08 4752 1499</p>
                <span class="text-light fw-light">Mail:</span> <a>support.marudryfruits.com</a>
            </div>
        </div>
    </div>
    <div class="container d-block d-md-none p-4">
        <div class="accordion accordion-flush bg-transparent d-block d-md-none" id="accordionFlushExample">
            <div class="accordion-item bg-transparent text-light">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed bg-transparent text-light fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#about-us" aria-expanded="false" aria-controls="about-us">
                        About Us
                    </button>
                </h2>
                <div id="about-us" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p class="text-light fw-light">Do you have a question about your order status or purchase you are considering?
                        </p>
                        <ul class="nav">
                            <li class="nav-item p-2 m-1 border rounded bg-light">
                                <a><i class="text-dark fab fa-facebook-f"></i></a>
                            </li>
                            <li class="nav-item p-2 m-1 border rounded bg-light">
                                <a><i class="text-dark fab fa-twitter"></i></a>
                            </li>
                            <li class="nav-item p-2 m-1 border rounded bg-light">
                                <a><i class="text-dark fab fa-instagram"></i></a>
                            </li>
                            <li class="nav-item p-2 m-1 border rounded bg-light">
                                <a><i class="text-dark fab fa-pinterest-p"></i></a>
                            </li>
                            <li class="nav-item p-2 m-1 border rounded bg-light">
                                <a><i class="text-dark fab fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item bg-transparent text-light">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed bg-transparent text-light fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#information" aria-expanded="false" aria-controls="information">
                        Information
                    </button>
                </h2>
                <div id="information" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ul class="list-group" style="list-style-type: none;">
                            <li class="list-item p-1"><a style="text-decoration: none;" class="text-light fw-light">Shipping</a></li>
                            <li class="list-item p-1"><a style="text-decoration: none;" class="text-light fw-light">Returns</a></li>
                            <li class="list-item p-1"><a style="text-decoration: none;" class="text-light fw-light">Internationl</a></li>
                            <li class="list-item p-1"><a style="text-decoration: none;" class="text-light fw-light">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item bg-transparent text-light">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed bg-transparent text-light fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#useful" aria-expanded="false" aria-controls="useful">
                        Useful Links
                    </button>
                </h2>
                <div id="useful" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ul class="list-group" style="list-style-type: none;">
                            <li class="list-item p-1"><a style="text-decoration: none;" class="text-light fw-light">Delivery Info</a></li>
                            <li class="list-item p-1"><a style="text-decoration: none;" class="text-light fw-light">Credit Card</a></li>
                            <li class="list-item p-1"><a style="text-decoration: none;" class="text-light fw-light">Careers</a></li>
                            <li class="list-item p-1"><a style="text-decoration: none;" class="text-light fw-light" [routerLink]="'/contact-us'">Contact US</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item bg-transparent text-light">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed bg-transparent text-light fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#contact" aria-expanded="false" aria-controls="contact">
                        Contact
                    </button>
                </h2>
                <div id="contact" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p class="text-light fw-light">Office: 12 Fake Street,New York</p>
                        <p class="text-light fw-light">Phone: (08) 8827 633354</p>
                        <p class="text-light fw-light">Fax: 08) 08 4752 1499</p>
                      <span class="text-light fw-light">Mail: support.marudryfruits.com</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="text-light mt-5">
    <div class="row p-4">
        <div class="col-lg-11">
            <h6 class="text-center fw-bold text-light">© 2020 Hyori Theme by Goalthemes. All Rights Reserved.</h6>
        </div>
    </div>
</footer>
